* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  opacity: 0;
}

header {
  text-align:center;
  padding:60px;
}

h1 {
  font-family: 'Bad Script', cursive;
  font-size: 2.5em;
}

p {
  margin-top:10px;
  color: ##606060;
}

section {
  width:900px;
  height:450px;

  margin:0 auto;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(25, 1fr);
  grid-gap: 8px;
}

.pixel {
  background: #eee;
  /*border-radius: 50%;*/
  transition: .5s;
}

.active {
  background: #42ebf4;
  /*box-shadow: 0 0 5px 1px #42ebf4;*/
}

footer {
  border-top: 1px solid #ddd;
  width: 900px;
  margin: 70px auto;
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  color: #727272;
}

/*.options-link {
  opacity: 0;
}*/

.options-link:hover {
  color: black;
  cursor: pointer;

}

footer ul {
  list-style: none;
}

footer ul li {
  display: inline-block;
  margin-left: 5px;
}
